<head>
  <link rel="stylesheet" type="text/css" href="home.css" />
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
  />
</head>
<form method="post" action="/">
  <div class="loginWrapper">
    <span class="logo-icon" style="font-size: 40px; cursor: default;">🚗</span>
    <span class="logo-text" style="cursor: default;">car dealer</span>
    <div class="inputWrapper">
      <input type="text" placeholder="Id" name="id" required />
    </div>
    <div class="inputWrapper">
      <input type="password" placeholder="Password" name="password" required />
    </div>
    <div style="text-align: center">
      <button type="submit">Login</button>
    </div>
  </div>
</form>