<h1>Building 데이터 삽입</h1>

<form name="building" method="post" action="/">
  <div>
    <label for="Name">Name</label>
    <input id="Name" name="Name" type="text" required placeholder="Name" />
  </div>
  <div>
    <input type="submit" value="삽입" />
  </div>
</form>

<br /><br />

<h1>Student 데이터 삽입</h1>
<form id="student" method="post" action="/">
  <div>
    <label for="Name">Name</label>
    <input id="Name" name="Name" type="text" required placeholder="Name" />
  </div>
  <div>
    <label for="Email">Email</label>
    <input id="Email" name="Email" type="text" required placeholder="Email" />
  </div>
  <div>
    <label for="Phone_number">Phone_number</label>
    <input
      id="Phone_number"
      name="Phone_number"
      type="text"
      placeholder="Phone_number"
    />
  </div>
  <div>
    <label for="Major">Major</label>
    <input id="Major" name="Major" type="text" required placeholder="Major" />
  </div>
  <div>
    <label for="Student_Id">Student_Id</label>
    <input
      id="Student_Id"
      name="Student_Id"
      type="text"
      required
      placeholder="Student_Id"
    />
  </div>
  <div>
    <label for="Employee_Id">Employee_Id</label>
    <input
      id="Employee_Id"
      name="Employee_Id"
      type="text"
      required
      placeholder="Employee_Id"
    />
  </div>
  <div>
    <input type="submit" value="삽입" />
  </div>
</form>